__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb
*.egg-info/
.eggs/
*.sqlite3

# Virtual environments
venv/
env/
ENV/
.venv/


output/
*.json
*.csv
*.pdf

!rules.txt
!samples/*.log


dashboard/__pycache__/
dashboard/*.log
instance/
*.db

.DS_Store
Thumbs.db
*.swp
*.swo

# VSCode
.vscode/
*.code-workspace


*.log
logs/
log/


build/
dist/
*.spec

*.tmp
*.cache
.ipynb_checkpoints/
